/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/_base.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_base.scss */
html {
  -ms-touch-action: none;
}

/* line 16, ../sass/_base.scss */
body {
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  font-family: 'PT Serif', serif;
  font-weight: 400;
}

/* line 26, ../sass/_base.scss */
button {
  outline: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border: none;
  cursor: pointer;
}

/* line 2, ../sass/_transition.scss */
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 8, ../sass/_transition.scss */
.slide.ng-enter {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 13, ../sass/_transition.scss */
.slide.ng-enter-active {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 18, ../sass/_transition.scss */
.slide.ng-leave {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
/* line 22, ../sass/_transition.scss */
.slide.ng-leave-active {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 1, ../sass/_header.scss */
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 68px;
  width: 100%;
  border-top: 4px solid #cb4781;
  background-color: #ffffff;
  text-align: center;
  line-height: 75px;
  z-index: 100;
}
/* line 13, ../sass/_header.scss */
header .logo {
  width: 140px;
  height: 19px;
  z-index: 11;
  position: relative;
}

/* line 1, ../sass/_mainuiview.scss */
.main-ui-view {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: absolute;
  top: 68px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-y-scrolling: touch;
}

/* line 1, ../sass/_page.scss */
.page {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
/* line 7, ../sass/_page.scss */
.page .heading {
  text-align: left;
  margin: 0px 0px 24px 0px;
  height: 100%;
}
/* line 13, ../sass/_page.scss */
.page .heading .graphic-container {
  width: 100%;
  height: 200px;
  background-image: url("../../assets/images/primavera.png");
  background-position: left 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
/* line 24, ../sass/_page.scss */
.page .heading h1 {
  font-size: 24px;
  line-height: 36px;
  padding: 0px 16px;
}
/* line 31, ../sass/_page.scss */
.page .body {
  padding: 0px 16px;
}
/* line 33, ../sass/_page.scss */
.page .body a {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0px;
  text-transform: uppercase;
}

/* line 1, ../sass/_splash.scss */
.page-splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 48px;
  margin: auto auto;
}
