.page{

  &.people{

    padding:20px 0px;
    .person {
      border-top: 1px solid #cccccc;
      padding: 10px 10px 10px 64px;
      position: relative;
      &:first-child {
        border-top: none;
      }
      .title {
        @include inline-block;
        width: 100%;
        color: $primary-color;
        text-transform: uppercase;
        padding: 0px 20px;

      }

      .text {
        @include inline-block;
        width: 100%;
        color: $third-color;
        font-weight: 300;
        padding: 0px 20px;
      }

      img{
        position: absolute;
        left: 8px;
        top: 8px;
        width: 58px;
      }
    }
  }
}